body{
	background-image: url('/images/customer.jpg');
	background-repeat: no-repeat;
  	background-size: 100% cover;
  	margin: 0;
	width: 100vw;
	height: 100vh;
}
.h1div 
{
	background-color:black;
	opacity:80%;
	align-items:center;
	width:inherit;
	color:white;
text-align: center;
}
a:link{
	font-size:20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.non-premium {
	
	background: rgba(224, 224, 224, 0.2);
display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width:60%;
  padding:10px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  gap:30px;
}
.premium{
	color:white;
	width: 100px;
	margin-left:400px;
	padding: 20px;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
}
td{
	background-color: rgb(112,128,144);
}
th,td{
	padding:15px;
	
}
tr:hover {background-color: rgb(112,128,144);}
th{
	background-color:rgb(102,0,51); 
}