body
{
	background: rgba(0, 0, 0,0.2);	
	margin: 0;
	width: 100vw;
	height: 100vh;
}
.container{
	
	width: 100px;
	margin-left:400px;
	padding: 20px;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
}

th,td{
	padding:15px;
	
}
tr:hover {background-color: rgb(112,128,144);}
th{
	background-color:rgb(102,0,51); 
}