<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/createplay.css}">
</head>
<body>
<div class="container">
	<form action="addplaylist" method="post">
		<label>PlayList name </label>
		<input type="text" name="name" placeholder="Your PlayList Name"/>
		<br>
		
		<div th:each="song:${songs}" class="seconddiv">
		<input type="checkbox" th:name="songs" th:value="${song.id}">
		<label th:text="${song.name}"></label>
		</div>
		<input type="submit" value="ADD PLAYLIST">
	</form>
	</div>
</body>
</html>